#counter{
    display: block;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#buttoncntr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: bisque;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: rgb(243, 190, 126);
}
